* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}
/*Estilos para el formulario*/
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.success-message {
    color: #4CAF50;
    margin-top: 10px;
}
/*Estilos para mensaje de error*/
.error-message {
    color: #f44336;
    margin-top: 10px;
}
.message {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
/*Estilos para la clase rating */
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    color: #ccc;
}

.rating input[type="radio"]:checked ~ label {
    color: #ffca08;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #ffca08;
}.header-image {
    text-align: center;
    margin: 20px;
}

.header-image img {
    max-width: 100%;
    height: auto;
}